<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta lang="en">
    <title>canvas template</title>

    <script>
      function drawOnCanvas () {
        let canvas = document.getElementById('canvas_1')

        if (canvas.getcontext) {
          let canvas_context = canvas.getcontext('2d')
        }
      }
    </script>
</head>
<body>
<section style="border-style: solid; border-width: 2px; width: 500px;">
    <canvas width="400" height="400" id="canvas_1">
        Canvas tag not supported
    </canvas>
</section>

<p>
    <input type="button" value="  draw  " onclick="drawOnCanvas()">
</p>
</body>
</html>
