<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta lang="en">
    <title>Create Element</title>

    <script type="text/javascript" src="news.js"></script>

    <style>
        .red_text {
            color: red;
        }

        .blue_text {
            color: blue;
        }
    </style>
</head>
<body>
<header>
    <h1>Top Header</h1>
</header>

<section>
    <article>
        <header>
            <h2>Section Title</h2>
        </header>

        <section>
            <p class="red_text">Section Body - The main contents go here.</p>
        </section>
    </article>
</section>

<footer id="footer">
    <p class="blue_text">Footer content here</p>
    <p><input type="button" value="get the latest news" onclick="latestnews()"></p>
</footer>
</body>
</html>
